<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681904136683-48i9du12g4ejll50abuokng301a5uht0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681904136683-48i9du12g4ejll50abuokng301a5uht0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>681904136683-ul03m9kesdb4v2g4f5cfkv98ugne0gb2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD6MRjAXVyv0MIv4XpeGMqX_Wb894WHzQc</string>
	<key>GCM_SENDER_ID</key>
	<string>681904136683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.afriendorse.user.ios</string>
	<key>PROJECT_ID</key>
	<string>afriendorsehq</string>
	<key>STORAGE_BUCKET</key>
	<string>afriendorsehq.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681904136683:ios:0e79e486b53d61e81ef9ae</string>
</dict>
</plist>